* {
  box-sizing: border-box;
  font-family: $font-family;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $base-color;
}

a {
  color: #4EC9B0;
}

.main {
  font-size: 0;
}

// scroll bar
$scrollbar-track-color: #2D2D2D;
$scrollbar-thumb-color: #4D4D4D;

body {
  scrollbar-color: $scrollbar-track-color $scrollbar-thumb-color;
  scrollbar-width: thin;
}

::-webkit-scrollbar{
 width: 8px;

 &-track{
  background: $scrollbar-track-color;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 1px #777;
 }

 &-thumb{
  background: $scrollbar-thumb-color;
  border-radius: 10px;
  box-shadow: none;
 }
}
