#view-result {

  h1, h2, h3,
  h4, h5, h6 {
    line-height: normal;
  }
  /* Code section */
  pre, p > code {
    background-color: $light-gray;
    border-radius: 3px;
  }

  pre {
    padding: 10px;
  }

  p > code {
    display: inline-block;
    color: #D69D85;
    padding: 1px 5px;
  }
  
  /* unordered list */
  ul {
    padding-left: 20px;
  }

  ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 0;
    
    li{
      text-indent: -18px;
      padding-left: 18px;

      &:before {
        counter-increment: item;
        content: counter(item)'.';
        padding-right: 3px;
        padding-left: 3px;
        color: $font-color;
      }
    }
  }

  /* Table */
  table{
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td{
      padding: 10px;
    }
    
    tr{
      border-bottom: solid 1px #333;
    }
  }

  // image
  img {
    border-radius: 3px;
  }

  /* Quote */
  blockquote {
    position: relative;
    margin: 5px 0;
    padding: 8px 15px;
    background-color: $light-gray;
    color: $font-color;
    border-radius: 3px;
  
    &:before{
      display: inline-block;
      position: absolute;
      top: 13px;
      left: 15px;
      color: #cfcfcf;
      font-size: 28px;
      line-height: 1;
      font-weight: 900;
    }
  
    p {
      padding: 0;
      margin: 10px 0;
      line-height: 1.7;
      font-style: italic;
    }
  }
}
